<div class="container mt-4">
    <button class="btn btn-outline-primary me-3" (click)="get404Error()">404</button>
    <button class="btn btn-outline-primary me-3" (click)="get400Error()">400</button>
    <button class="btn btn-outline-primary me-3" (click)="get500Error()">500</button>
    <button class="btn btn-outline-primary me-3" (click)="get400ValidationError()">400Validation</button>

    <div class="row mt-4" *ngIf="validationError.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationError" >
                {{error}}
            </li>
        </ul>
    </div>
</div>