<div class="bg-light px-4 py-3 text-uppercase fw-bold">
    Order Summary
</div>

<div class="p-4">
    <p class="fst-italic mb-4">
        Shipping cost will be calculated based on the choices made during checkout
    </p>
    <ul class="list-unstyled mb-4" *ngIf="(basketService.basketTotalSource$ | async) as totals">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Order Subtotal</strong>
            <strong>{{totals.subtotal}}</strong>
        </li>

        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Shipping And Handling</strong>
            <strong>{{totals.shipping}}</strong>
        </li>

        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Order Total</strong>
            <strong>{{totals.total}}</strong>
        </li>
    </ul>
</div>