<div class="container">
    <div class="row" *ngIf="brands.length > 0 || types.length > 0">
        <div class="col-3">

            <h5 class="text-warning ms-3">Sort</h5>
            <select 
                class="form-select mb-4" 
                (change)="onFilterChange($event)"
            >
                <option *ngFor="let option of sortOptions" [value]="option.value">{{option.name}}</option>
            </select>

            <h5 class="text-warning ms-3">Brands</h5>
            <ul class="list-group my-3">
                <li 
                    class="list-group-item" aria-current="true" 
                    *ngFor="let brand of brands" 
                    (click)="onBrandSelected(brand.id)"
                    [class.active]="brand.id == shopParams.brandId"
                >
                    {{brand.name}}
                </li>
            </ul>

            <h5 class="text-warning ms-3">Types</h5>
            <ul class="list-group my-3">
                <li 
                    class="list-group-item" 
                    aria-current="true" 
                    *ngFor="let type of types"
                    (click)="onTypeSelected(type.id)"
                    [class.active]="type.id == shopParams.typeId"
                >
                    {{type.name}}
                </li>
            </ul>

        </div>

        <div class="col-9">

            <div class="d-flex justify-content-between align-items-center pb-2">
                <header>
                    <span>Showing <strong>10</strong> Of <strong>18</strong> Results</span>
                </header>

                <div class="d-flex mt-2">
                    <input type="text" placeholder="Search" class="form-control me-2" [(ngModel)]="shopParams.search" (keyup.enter)="onSearch()">
                    <button class="btn btn-outline-primary me-2" (click)="onSearch()">Search</button>
                    <button class="btn btn-outline-success" (click)="onReset()">Reset</button>
                </div>
            </div>

            <div class="row row-cols-3 g-3 mb-4">
                <div class="col" *ngFor="let product of products">
                    <app-product-item [product]="product"></app-product-item>
                </div>
            </div>
        </div>
    </div>
</div>